body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
  width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  width: 100%;
}

.container,
.projects-container {
  padding: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #420f49;
  width: 100vw;
  margin-top: 0px;
  position: relative;
}

#name {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  color: #fdf8ff;
  text-decoration: none;
  text-align: right;
}
a:hover {
  color: #ffcbf6;
}

#hamburger-menu {
  color: #fdf8ff;
  text-decoration: none;
  margin-right: 30px;
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

#hamburger-menu:hover {
  color: #e49fff;
}

#dropdown-menu {
  position: absolute;
  top: 100%;
  right: 15px;
  border-top: 1px solid #fdf8ff;
  background-color: #420f49;
  width: 100%;
  margin: 0;
}

#dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dropdown-menu li {
  padding: 10px;
}

#dropdown-menu li a {
  text-decoration: none;
  color: #fdf8ff;
  display: block;
  margin-right: 15px;
}

#dropdown-menu li a:hover {
  color: #e49fff;
}

.content-shift-down {
  margin-top: 150px;
}

#profileImg {
  width: 300px;
  border-radius: 100%;
  position: relative;
  float: right;
  margin-right: 200px;
}

#intro {
  padding: 50px;
  justify-content: center;
  display: flex;
}

#intro-text {
  float: left;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#wrapper {
  display: flex;
  align-items: baseline;
  margin-top: 0px;
  padding-top: 0%;
}

#wrapper .dynamic-roles {
  line-height: 90px;
  height: 75px;
  overflow: hidden;
  margin: 0;
  padding-top: 0;
}

.dynamic-roles li {
  margin-left: -30px;
  list-style: none;
  margin-top: 2px;
  color: #e49fff;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}

.dynamic-roles li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: #242424;
  border-left: 2px solid #e49fff;
  animation: typing 3s steps(18) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 3px);
  }
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    top: -275px;
  }
}

#about-me p {
  font-size: large;
  color: #fdf8ff;
}

.footer-button {
  display: block;
  margin: 50px 20px 20px 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

#footer-buttons {
  display: flex;
  justify-content: center;
}

.contact-page {
  padding: 100px 450px 100px 450px;
}

#contact-p {
  font-size: large;
  color: #fdf8ff;
}

#social-icons {
  justify-content: center;
  display: flex;
}

.social-icon {
  height: 40px;
  padding: 20px;
  margin-top: 0;
  padding-top: 0;
}

.social-icon:hover {
  color: #e49fff;
}

#contact-links {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.slider {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.item {
  background-color: #442249;
  color: white;
  width: fit-content;
  height: fit-content;
  text-align: justify;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
  margin: 1% 25% 1% 25%;
  display: flex;
}
.item:hover {
  border: 5px solid #e49fff;
  transform: scale(1.02);
}

.stack,
.indivStack {
  font-weight: bold;
}

.item-left {
  margin-right: 3%;
  position: relative;
}

.item-left h1 {
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 10;
  padding: 10px;
}

.item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item h1 {
  color: #e9e9e9;
  text-shadow: 3px 0px #180d1ab0;
  font-size: 40px;
}

.item img {
  width: 500px;
  opacity: 70%;
}

.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 25px;
  position: relative;
  display: block;
  margin: 3% auto 0% auto;
}

#buttons {
  display: flex;
}

.project-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.video-section {
  flex: 1;
  margin-right: 20px;
}

.text-section {
  flex: 2;
}

.indivDesc {
  margin-bottom: 10px;
}

.indivStack {
  font-weight: bold;
}

#images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 40px;
}

.project-img {
  max-width: 100%;
  border-radius: 5px;
  height: 550px;
  padding: 10px;
}

.back-button {
  background-color: #242424;
  border: #414141 1px solid;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}

.back-button:hover {
  cursor: pointer;
}

.title-section {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
}

.gh-icon {
  height: 40px;
  padding: 20px;
  margin-top: 0;
}

.gh-icon:hover {
  color: #e49fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 768px) {
  #header {
    flex-direction: row;
    align-items: center;
  }

  .container {
    flex-direction: column;
    width: 95vw;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  #intro {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  #intro p {
    font-size: 30px;
  }

  #wrapper {
    flex-direction: column;
  }

  #profileImg {
    width: 250px;
    border-radius: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  #intro-text {
    text-align: center;
  }

  #wrapper {
    display: block;
  }
}
